
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
/src/DataFixtures/
###< symfony/framework-bundle ###
/.DS_Store
/.env
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
.gitignore
###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
