#ad-title{
    background-size: cover;background-position: center center;
}
.container{margin-top: 1.2em;}
#ad-title .container{margin-top: 0;}

#ad-title h1, #ad-title p{color:#fff;text-shadow: 3px 3px 3px rgba(0,0,0,0.7)}

.carousel-caption{text-shadow: 3px 3px 3px rgba(0,0,0,0.7);}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .avatar{width:128px;height:128px;border-radius: 50%;}
  .avatar-sm{max-width: 32px;max-height: 32px;}
  .homeavatar{width:64px;height:64px;border-radius: 10%;box-shadow: 2px 2px 3px 1px rgba(38, 38, 39, 0.2);}
  .avatar-md{max-width: 64px;max-height: 64px;}

  .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {color:rgb(216, 75, 40)!important;text-decoration:line-through;}

  .blockquote{font-size: 0.9em;}

  .blockquote-footer{font-size:1em;}

  .rating{color: goldenrod;font-size: 0.8em;}
  .text-rating{font-size: 70%}

  .page-link{color: black;}

  .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: rgb(27, 28, 29);
    border-color: rgb(27, 28, 29);
}
