#ad-title{
    background-size: cover;background-position: center center;
}
.container{margin-top: 1.2em;}
#ad-title .container{margin-top: 0;}

#ad-title h1, #ad-title p{color:#fff;text-shadow: 3px 3px 3px rgba(0,0,0,0.7)}

.carousel-caption{text-shadow: 3px 3px 3px rgba(0,0,0,0.7);}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .avatar{width:128px;height:128px;border-radius: 50%;}
  .avatar-sm{max-width: 32px;max-height: 32px;}
