{% extends 'base.html.twig' %}

{% block title %}Page de profil{% endblock %}
{% block header %}{% endblock %}
{% block body %}
<h1>{{title}}</h1>
<h2>Profil de {{nom}}, votre acces est: {{acces}}</h2>
{% endblock %}