{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

<div class="example-wrapper">
<main class="container">
<h1 class=" mt-4 mb-3">{{ controller_name }}</h1>
<div class="row">
    {% for ad in ads %}

        {% include 'ad/_ad.html.twig' %}
        
    {% endfor %}
</div>
</main>
</div>
{% endblock %}
