{% extends 'base.html.twig' %}
{% form_theme form 'ad/_collections.html.twig' %}
{% block body %}
<div class="container">
<h1>Création annonce</h1>

{{ form_start(form) }}

    {{ form_rest(form) }}
    <button class="btn btn-info mb-5 mt-3" type="submit">Enregistrez cette annonce</button>


{{ form_end(form) }}
</div>

{% endblock %}

